*, *::before, *::after  {
    box-sizing: border-box;
    margin: 0;
}

body {
    min-height: 100vh;
    text-rendering: auto;
    line-height: 1.5;
    /* webkit only works on chrome & firefox */
    -webkit-font-smoothing: antialiased;
    overflow-wrap: break-word;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

ul, ol, dir, menu {
    list-style: none;
}

table {
    border-collapse: collapse;
}

a, a:visited {
    text-decoration: none;
    color: unset;
}

.clickable,
label,
input[type=button],
input[type=submit],
input[type=file],
button {
    cursor: pointer;
    outline: unset;
}
