*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

::placeholder {
    color: unset;
}

/*RESET LIST STYLES*/
ul, ol, menu {
    list-style: none;
    padding-left: unset;
}

/*ANCHOR LINK RESETS*/
a, a:visited {
    color: inherit;
    text-decoration: none;
}

.clickable,
label[type=button],
label[type=submit],
label[type=reset],
button {
    cursor: pointer;
}