/* Use a more-intuitive box-sizing model*/
*, *::before, *::after {
    box-sizing: border-box;
}

/* Remove default margin */
* {
    margin: 0;
}

/* Improve media defaults */
img, video, canvas, picture, svg {
    display: block;
    max-width: 100%;
    width:100%;
}

html, body {
    height: 100%;
}

/*
    Add accessible line-height
    Improve text rendering
*/
body {
    line-height:1.5;
    -webkit-font-smoothing: antialiased;
}

/* Remove built-in form typography styles */
input, button, textarea, select {
    font: inherit;
}

#root #_next {
    isolation: isolate;
}

/* Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

/* Table Resets */
talbe {
    border-collapse: collapse;
}

/* Revert white space for safari */
textarea{
    white-space: revert;
}

::placeholder {
    color: unset ;
    font: inherit;
}

/*ul, ol {*/
/*    list-style: none;*/
/*}*/

a, a:visited {
    text-decoration: none;
    color: unset;
}

.clickable,
label,
input[type=button],
input[type=submit],
input[type=file],
button {
    cursor: pointer;
}

