
body {
    background-image: url("Img/coffee.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    font-family: 'Merriweather Sans', sans-serif;

}

nav {
    background-color: #FFDAB9;
}

/*HIDING SPECIFIC ID'S AND THE ID NUMBERS THEMSELVES HERE*/
#coffees td:first-child {
    display: none;
}

#coffee-id {
    display: none;
}


.card {
    max-block-size: max-content;
}

.card-body {
    font-size: x-large;
    background-color: blanchedalmond;
    color: #EADDCA;
    opacity: .7;

}
section {
    color: black;
}
#coffee-pour {
    bottom: 4px;
    right: 4px;
    position: fixed;
    width: 30em;
}

form {
    display: inline-table;
}

.roast-label {
    font-size: x-large;
}
#roast-selection {
    margin-bottom: 13px;
}

.mini-card-div {
    min-height: 120px;
}

.mini-card-body {
    width: 300px;
    margin-left: 25px;
}