
body {
    background-color: #e5dbce;
    color: #452711;
}

#jumbotron {
    height: 80vh;
    max-width: 75vw;
    background-image: url("../bonding-cold-cozy-dog-374845.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
#companyTitle {
    font-size: 3em;
}

#coffeeRow, #pastriesRow, #dogTreatsRow {
    background-color: #86735d;
}
#coffeeInput hr {
    border: 4px solid rgba(0,0,0,.1);
}


.btn {
    background-color: #452711;
    color: #e5dbce;
}

.btn:hover {
    color: #e5dbce;
    border: 1px solid #e5dbce;
}

.custom-select {
    color: #452711;
}

#userCoffeeName {
    color: #452711;
}