table {
    border-collapse: collapse;
    margin: 15px 0;
}

td, th {
    border: 1px solid black;
    padding: 5px 10px;
}

header {
    border-bottom: #e4e4e4 1px solid;
}

.page-wrapper {
    padding: 0 50px;
}

.coffee-wrapper {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    font-size: 15px;
}

p.roast {
    opacity: 0.5;

}

.column.coffees {
    max-width: 50vh;
    align-content: space-between;
    justify-content: space-between;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
form{
    display:flex;
    flex-direction: column;
    flex: 1 0  auto;
    gap:7px;

}
input.search{
    display: flex;
    width:100%;
    flex: 1 0 auto;
    border-radius: 3px;
    border: 1px solid #3c89cb;
    padding: 2px;

}
input.search:focus{
    box-shadow: 0px 0px 3px 0px #3c89cb;
    outline: none;
}
/*.selection-wrapper::after{*/
/*    content:'';*/
/*    position: absolute;*/
/*    top: 0;*/
/*    right:0;*/
/*    height:100%;*/
/*    width:30px;*/
/*    border-radius: 3px;*/
/*    pointer-events: none;*/
/*    background-image: url("../img/dropdown-ing.png");*/
/*    background-repeat: no-repeat;*/
/*    background-position: center center;*/
/*    background-size: cover;*/
/*    z-index: 9;*/


/*}*/
.dropdown-wrapper{
    position: absolute;

}
dropdown{
    width:15px;

}
.selection-wrapper{
    position: relative;
}
select.selection:focus{
    box-shadow: 0px 0px 3px 0px #3c89cb;
    outline: none;

}
option{
    background-color: #ad3838;
}
select.selection{
    border-radius: 3px;
    display: flex;
    width: 100%;
    flex: 1 0 auto;
    position: relative;
}
button.coffee-submit{
    background-color: #3C89CB;
    border-radius: 3px;
    max-width: 100%;
    border:unset;
    padding: 6px;
    color: white;
    cursor:pointer;
}

