@import "resets.css";
@import "layout.css";
@import url('https://fonts.googleapis.com/css2?family=Barriecito&family=Fresca&family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Outfit:wght@300;400;600&display=swap');

:root {
    --primary-dark: #081b29;
    --primary-ligth:#ededed;
    --transition-clr-blue:#00abf0;
}

body {
    font-family: 'Josefin Sans', sans-serif;
    background-color: var(--primary-dark);
    color: var(--primary-ligth);

}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10px;
    background-color: transparent;
    z-index: 9;
    font-size: 25px;
    color: var(--primary-ligth);
    font-weight: 600;

}

.logo:hover {
    color: var(--transition-clr-blue);
}

.navbar a {
    font-size: 18px;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
}

.navbar a:hover,
.navbar a.active{
    color: var(--transition-clr-blue);
}
            /********************************************************MAIN **************************************************/

.company-logo:hover {
    transform: scale(1.15);

}

.top-img {
    top: 80px;
    position: absolute;
    opacity: 40%;
    max-height: 600px;
    width: 98%;
    z-index: -1;

}
.coffee-id {
    display: none;

}

.company-logo {
    max-width: 70px;
    max-height: 70px;
    transform: rotate(180deg);
    border-radius: 50%;
    transition: .5s ease, transform 3s cubic-bezier(0,0,.44,1.18);
}

.searchByName {
    position: relative;
    z-index: 1;
    width: 250px;
    height: 30px;
    border: 2px solid var(--transition-clr-blue);
    border-radius: 8%;
}

.searchByName::placeholder {
    color: var(--transition-clr-blue);
    padding-left: 10px;
}

#roast-selection {
    color: var(--transition-clr-blue);

}

.roast-selection-btn {

    height: 50px;
    background-color: var(--transition-clr-blue);
    border: 2px solid var(--transition-clr-blue);
    border-radius: 8px;
    font-size: 19px;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 5px;
    transition: .5s ease, transform 3s cubic-bezier(0,0,.44,1.18);
    position: relative;
    z-index: 1;
}

.roast-selection-btn:hover {

    transform: scale(1.10);
    background-color: var(--primary-dark);
    color: var(--transition-clr-blue);
}

.sign-in-btn {
    width: 100px;
}

.bean-roast {
    color: var(--transition-clr-blue);
    font-size: 14px;
}

.social-media-nav {
    width: 345px;
    height: 50px;
}

.social-media-nav a,
.a-btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 110px;
    height: 50px;
    background-color: var(--transition-clr-blue);
    border: 2px solid var(--transition-clr-blue);
    border-radius: 8px;
    font-size: 19px;
    color: var(--primary-dark);
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.social-media-nav a:hover {
    color: var(--transition-clr-blue);
}

.social-media-nav a:nth-child(2) {
    background: transparent;
    color: var(--transition-clr-blue);
}

.social-media-nav a:nth-child(2):hover {
    color: var(--primary-dark);

}

.social-media-nav a:nth-child(2)::before {
    background: var(--transition-clr-blue);
}

.social-media-nav a::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--primary-dark);
    z-index: -1;
    transition: .5s;
}

.social-media-nav a:hover::before {
    width: 100%;
}

.location.gentle-tilt-move-shake:hover,
.gentle-tilt-move-shake:hover {
    animation: tilt-n-move-shaking 0.25s infinite;
}



/**********************************BOOK TABLE PAGE**********************************/

.book-table {
    border: 2px solid white;
    text-align: center;
    padding: 70px 30px;
    border-radius: 3%;

}

.a-btn {
    width:150px;
    color: var(--primary-dark);
}

.a-btn:hover {
    color: var(--transition-clr-blue);
    background-color: var(--primary-dark);
}

.glitch {
    position: relative;
    font-size: 100px;
    font-weight: bold;
    color: #FFFFFF;
    letter-spacing: 3px;
    z-index: 1;
}

.glitch:before,
.glitch:after {
    display: block;
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.8;
}

.glitch:before {
    animation: glitch-it 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both infinite;
    color: #00FFFF;
    z-index: -1;
}

.glitch:after {
    animation: glitch-it 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) reverse both infinite;
    color: #FF00FF;
    z-index: -2;
}


/**********************************NOT STARBUCKS PAGE*****************************/

#not-starbucks:hover {
    visibility: hidden;
    position: relative;

}
#not-starbucks:hover:after{
    visibility: visible;
    position: absolute;
    top: 0;
    left: 0;
    content: "!!!!!!!!"
}

/**********************************KEYFRAME**************************************/

@keyframes tilt-n-move-shaking {
    0% { transform: translate(0, 0) rotate(0deg); }
    25% { transform: translate(5px, 5px) rotate(5deg); }
    50% { transform: translate(0, 0) rotate(0eg); }
    75% { transform: translate(-5px, 5px) rotate(-5deg); }
    100% { transform: translate(0, 0) rotate(0deg); }
}

@keyframes glitch-it {
    0% { transform: translate(0);}
    20% { transform: translate(-2px, 2px);}
    40% { transform: translate(-2px, -2px);}
    60% { transform: translate(2px, 2px);}
    80% { transform: translate(2px, -2px);}
    to { transform: translate(0);}
}