body{
    background-image: url('caffeine-coffee-coffee-beans-roasted-585750.jpg');"
}

/*.parent {*/
/*    display: grid;*/
/*    height: 100vh;*/
/*    width: 100fr;*/
/*    padding-left: 12em;*/
/*    padding-right: 12em;*/
/*    grid-template-columns: 50% 50% ;*/
/*    grid-template-rows: 30% 20% 30% ;*/
/*    !*grid-template-columns: repeat(2, 1fr);*!*/
/*    !*grid-template-rows: .10fr repeat(2, 1fr);*!*/
/*    !*grid-column-gap: 5px;*!*/
/*    !*grid-row-gap: 5px;*!*/
/*    font-family: 'Arvo', serif;*/
/*}*/
/*!*This sets a border around the divs to show them.*!*/
/*!*.box {*!*/
/*!*    border: 1px solid black;*!*/
/*!*}*!*/
/*.div1 {grid-area: 1 / 1 / 2 / 3;}*/
/*.div2 { grid-area: 2 / 2 / 3 / 3;*/
/*    text-align: center ;}*/
/*.div3 { grid-area: 3 / 2 / 4 / 3;*/
/*    text-align: center ;}*/
/*.div4 {*/
/*    grid-area: 2 / 1 / 4 / 2;*/
/*}*/
/*================================================= HEADERS ==========================================================*/
.h1Style {
    display: flex;
    justify-content: center;
    font-family: 'Arvo', serif;
}
.h3Style {
    display: flex;
    justify-content: center;
}
/*============================================ HR (LINE BREAK) =======================================================*/
.hrStyle {
    opacity: 30%;
    color: white;
    z-index: 1;
}
/*========================================== DESCRIPTIVE LABEL OPTIONS ===============================================*/
.labels {
    font-weight: bold;
}
/*================================================= DROPDOWN LIST ====================================================*/
.selectOptions {
    font-size: 16px;
    width: 250px;
    background-color:#FFF;
    outline:none;
    border:none;
    box-shadow:none;
    margin: 6px;
}
/*================================================= SEARCH BAR =======================================================*/
#coffee-filter {
    width: 250px;
    font-size: 17px;
    border: none;
    padding: 0;
    margin: 6px;
}
#new-name {
    width: 250px;
    font-size: 17px;
    border: none;
    padding: 0;
    margin: 6px;
}
/*================================================= images ===========================================================*/
.iconImg {
    margin-top: 10px;
    width: 100px;
    height:100px;
    background: none;
    position: absolute;
    left: 900px;
    top: 65px;
    z-index: 2;
}
.coffee-header{
    margin-top: 10px;
    position: relative;
    left:360px ;
    width: 300px;
    height: 200px;
    z-index: 3;
}
.iconImg2 {
    margin-top: 10px;
    width: 100px;
    height:100px;
    background: none;
    position: absolute;
    right: 900px;
    top: 65px;
    /*margin: 0 auto;*/
    z-index: 2;
}
/*=================================================== Rotates Emblems ================================================*/
.rotate1 {
    display: inline-block;
    animation: rotation1 3s alternate;
}
.rotate2 {
    display: inline-block;
    animation: rotation2 3s alternate-reverse;
}
@keyframes rotation1 {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(80deg);
    }
}
@keyframes rotation2 {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(-80deg);
    }
}
/*================================================ TEXT LOGO ANIMATION ===============================================*/
.animated {
    -webkit-animation-duration: 5s;
    animation-duration: 5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
@-webkit-keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

.submit{
    width: 250px;
}

/*================================================ MEDIA QUERIES =====================================================*/

@media screen and (min-width: 1024px)  {
    body {
        /*background-color: brown;*/
        /*background-image: none;*/
    }

    .coffee-header {
        margin-top: 1em;
        left: 30.1em;
    }

    hr {
     width: 60%;
    }

    .parent {
        display: grid;
        /*width: 100%;*/
        /*height: 100%;*/
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: 39.1% 1fr 1fr 1fr 1fr 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }
    .div1 { grid-area: 1 / 1 / 2 / 7; }
    .div2 { grid-area: 2 / 4 / 4 / 6; }
    .div3 { grid-area: 4 / 4 / 6 / 6; }
    .div4 { grid-area: 2 / 2 / 6 / 4; }

    /*.parent {*/
    /*    display: grid;*/
    /*    grid-template-columns: repeat(6, 1fr);*/
    /*    grid-template-rows: 25% 1fr 1fr 1fr 1fr 1fr;*/
    /*    grid-column-gap: 0px;*/
    /*    grid-row-gap: 0px;*/
    /*}*/
    /*.div1 { grid-area: 1 / 1 / 3 / 7; }*/
    /*.div2 { grid-area: 3 / 4 / 5 / 6; }*/
    /*.div3 { grid-area: 5 / 4 / 7 / 6; }*/
    /*.div4 { grid-area: 3 / 2 / 7 / 4; }*/

}
/* On screens that are 992px or less, set the background color to blue */
@media screen and (max-width: 992px) {
    body {
        background-color: blue;
        background-image: none;
    }
}
/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {
    body {
        background-color: olive;
        background-image: none;
    }
}