/* Preferred box-sizing value */
*, *::before, *::after {
    box-sizing: border-box;
}

/* Remove default margin */
* {
    margin: 0;
}
/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}
/*
  6. Improve media defaults
*/
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}
/*
  7. Remove built-in form typography styles
*/
input, button, textarea, select {
    font: inherit;
}
/*
  8. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

/*changes cursor to pointer while over links*/
.clickable,
label,
input[type=button],
input[type=submit],
input[type=file],
button {
    cursor: pointer;
}

a, a:visited {
    text-decoration: none;
    color: unset;
}

/* removes spacing between cells in tables */
table {
    border-collapse: collapse;
}

input {
    outline: unset;
}

table {
    border-collapse: collapse; /* Prevent double borders */
}