
* {
    margin: 0;
    padding: 0;
}
body {
    background-image: url('pics/coffeephoto.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.opening{
    background-color: saddlebrown;
    border-radius: 30%;
    color: white;
    font-family: 'Marck Script', cursive;
    text-decoration: underline;
    font-size: 2em;
}
.btn {
    background-color: saddlebrown;
    color: whitesmoke;
    transition: .7s;

}
#heading-divider {
    display: flex;
    justify-content: center;
}
label {
    font-family: "Marck Script", sans-serif;
    padding-left: 0;
    color: white;
    background-color: saddlebrown;
    border-radius: 30%;
}
#roasted-selection {
    margin: .5em 0;
}
.roasted-title {
    font-size: 1.5em;
    font-weight: bolder;
    margin-bottom: 0;
}
.roasted-subtitle {
    font-weight: bold;
    font-style: italic;
    font-size: .7em;
    display: flex;
    align-items: center;
    margin-top: 0;
}
#pick-roast, #roast-list-pane, .add-coffee {
    border-radius: 3%;
}
.coffee-list{
    background-color: whitesmoke;
    border-width: 5px;
    border-color: black;
    padding: 3px;
}
#roast-search{
    margin: 1em;
}
#roast-list-pane{
    margin-top: 2.5em;
}