
* {
    margin: 0;
    padding: 0;
}
body{
    <img src="pics"
    background-size: 100%;
    background-color: lightgreen;
}
.container-fluid{
    background-image: url("https://gifdb.com/gif/good-morning-coffee-beans-wansfo3marb0r0m4.html?");
}
h1, h2 {
    font-family: Arial;
    font-weight: bolder;
    text-decoration: underline;
    color: darkslategrey;
}
.btn-primary {
    background-color: saddlebrown;
}
#heading-divider {
    display: flex;
    justify-content: center;
}
label {
    font-weight: bold;
    padding-left: 0;
}
#roasted-selection {
    margin: .5em 0;
}
.roasted-title {
    font-size: 1.5em;
    font-weight: bolder;
    margin-bottom: 0;
}
.roasted-subtitle {
    font-weight: bold;
    font-style: italic;
    font-size: .7em;
    display: flex;
    align-items: center;
    margin-top: 0;
}
#pick-roast, #roast-list-pane, .add-coffee {
    border-radius: 3%;
    /*max-width: 40%;*/
}
/*#main-heading {
    border-radius: 15%;
}
*/
.coffee-list{
    background-color: whitesmoke;
    border-width: 5px;
    border-color: black;
    padding: 3px;
}
#roast-search{
    margin: 1em;
}
#roast-list-pane{
    margin-top: 2.5em;
}