body {
    font-family: 'Domine', serif;
    background: #C6FFBA;
}
table {
    border-collapse: collapse;
    margin: 15px 0;
}

td, th {
    border: 1px solid black;
    padding: 5px 10px;
}

h1 {
    font-family: 'Mr Dafoe', cursive;
    font-size: 82px;
    text-align: center;
    background: rgba(210, 252, 192, .5);
}

main {
    font-size: 24px;
}

.roast-type {
    font-size: 12px;
    color: #595A4A;
}

.light {
    color: #BD632F;
}

.medium {
    color: #603E19;
}

.dark {
    color: #432818;
}
.jumbotron {
    background-image: url("img/flowercoffee.jpeg");
    background-size: cover;
}
label{
    font-family: 'Mr Dafoe', cursive;
    font-size: 24px;
    position: relative;
    top: 5px;
    left: 4px;
}
#form-boy {
    position: relative;
    top: -14px;
}


.make-a-line {
    border: rgb(157, 205, 138) 1px solid;
}

.signup {
    color: rgb(83,163,81);
}

.signup:hover {
    color: rgb(83,163,81);
}

.signup:visited {
    color: rgb(83,163,81);
}

.signup:active {
    color: rgb(83,163,81);
}

.bg-custom {
    background: #A4ED95;
}

#coffee-call {
    font-family: 'Mr Dafoe', cursive;
    font-size: 32px;
}
#cup-size {
    position: relative;
    left: 16px;
}
.coffeeCard {
    width: 13.2em;
}
.logo-ch{
    width: 32px;
    height: 32px;
    position: relative;
    top: -4px;
}