table {
    border-collapse: collapse;
    margin: 15px 0;
}

body {
    background: url('/Users/kennethmcinturf/IdeaProjects/codeup-web-exercises/img/coffee.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

td, th {
    border: 1px solid black;
    padding: 5px 10px;
}
label{
    color: #ffc107;
}

span{
    text-decoration: green;
}

.coffees{
    color: #ffc107;
}

.roast-selection {
    height: 32px;
    background-color: white;
    border: solid lightgray 1px;
    color: blue;

}

.coffeeName {
    border: solid lightgray 1px;
    height: 30px;
}

.submit {
    background-color: rgb(54, 139, 198);
    color: white;
    height: 33px;
}

.fontSizeCoffee {
    font-size: 30px;
    font-weight: 400;
}

.roastFont {
    color: rgb(168, 164, 162);
}
