*{box-sizing:border-box}

body {
    font-family: 'Work Sans', sans-serif;
    background-image: url("coffee-shop.jpg");
    background-size: 100%;
    background-color: #241B12;
}

main{
    width: 100%;
    display: inline-grid;
    grid-template-columns: 48% 52%;
    grid-template-areas:"left right";
}

table {
    border-collapse: collapse;
    margin: 15px 0;
}

td, th {
    border: 1px solid black;
    padding: 5px 10px;
}

h1 {
    text-align: center;
    background-color: #A37F5B;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    opacity: .95;
}

hr {
    border: .5px solid lightgrey;
}

form {
    grid-area: right;
    background-color: #A37F5B;
    border-radius: 10px;
    opacity: .95;
    margin-left: 3em;
    padding: 1em 0 1em 6em;
    /*display: flex;*/
    /*flex-direction: column;*/
    /*align-items: flex-end;*/
}

p {
    color: #870E11;
    display: inline-block;
    margin: .4em 0 0 .5em;
}

.wrapper {
    background-color: #A37F5B;
    border-radius: 10px;
    /*display: inline-flex;*/
    /*justify-content: center;*/
    padding-top: 20px;
    padding-left: 30px;
    opacity: .95;
}

.container {
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;

}

#roast-selection {
    width:500px;
    height:30px;
    margin-bottom: 2em;
}

.coffee-menu {
    display: inline-block;
    font-size: 1.5em;

}

#coffees{
    grid-area: left;
    margin-left: 5em;

}

#coffee-name{
    width:500px;
    height:30px;
    margin-bottom: 2em;
}

#add-roast-selection {
    width:500px;
    height:30px;
    margin-bottom: 2em;
}

#add-name {
    width:500px;
    height:30px;
    margin-bottom: 2em;
}

#submit, #second-submit {
    width:500px;
    height:30px;
    border-radius: 3px;
    background-color: #870E11;
    border: none;
    color: white;
    /*padding: 15px 32px;*/
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.coffee{
    display:flex;
    align-items: flex-start;
    margin-right: 2em;
    width:230px;
    height:56px;

}

h2{
    text-align: center;
    width: 500px;
    border-top: .5px solid lightgrey;
    padding-top: .7em;
}

