body {
    font-family: sans-serif;
    margin: 0;
    background-color: #F5F5DC;
}

table {
    border-collapse: collapse;
    margin: 15px 0;
}

td, th {
    border: 1px solid black;
    padding: 5px 10px;
}

select, span, input ,h1, div{
    font-family: 'Chivo Mono';
}

div>span{
    font-size: 50px;
}