* {
    /*margin-left: 2%;*/
}

body{
    background-image: url("assets/coffeebackground1.jpeg");
    background-size: 100%;
    background-repeat: no-repeat;
}

table {
    border-collapse: collapse;
    margin: 15px 0;
}
body>h1 {
    font-family: 'Yellowtail', cursive;
    font-size: 5em;
    margin-left: -1em;
    /*z-index: 1;*/
}

/*td, th {*/
/*    border: 1px solid black;*/
/*    padding: 5px 10px;*/
/*}*/

.spacer {
    height: 25px;
}
.coffeediv {
    width: 52%;
    font-family: 'Homemade Apple', cursive;
    font-size: 12px;
    padding-left: 7%;
    padding-top: 1%;
    padding-bottom: 3%;
    color: lightgray;


    float: left;
    /*margin-left: 2%;*/
}

#coffeeoutputtable{
    /*margin-left: 2%;*/
    width: 100%;
    height: 50%!important;
    border-radius: 10px;
}

#coffeeSearch{
    margin-left: 12%;
}

#coffesearchdiv{
    display: inline-block;
    margin-right: -10%;
}
#coffees{
    padding-left: 2%;
}
.roastName {
    padding-left:10px;
    line-height: 2em;
    font-family: 'Gochi Hand', cursive;
    font-size: 1.5em;

}

#container{
    width: 58%;
    border-radius: 10px;
    background-image: url("assets/chalkboarder.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

#forms {
    width: 55%!important;
    padding: 0;
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
}
#addACoffee {
    padding-left: 25px;
}

/*#headerGif {*/
/*    height: 250px;*/
/*    width: 250px;*/
/*    float: right;*/
/*    clear: both;*/
/*    opacity: .5;*/
/*    margin-left: 90%;*/
/*    margin-bottom: 90%;*/
/*    z-index: 10;*/

/*}*/

/*#headerDiv {*/
/*    position: fixed;*/
/*    !*margin-right: 0;*!*/
/*    !*margin-top: 0;*!*/
/*    margin-left: 83%;*/
/*    margin-bottom: 90%;*/
/*    z-index: 10;*/

/*}*/