*{
    font-family: 'Raleway', sans-serif;
}

h1{
    text-align: center;
    color: lightgray;
    font-size: 60px;
    margin-bottom: 5px;
}

body{
    background-image: url("IMG/coffee wallpaper.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.coffeeName{
    font-size: 40px;
    font-weight: bolder;
}

.coffeeRoast{
    font-size: larger;
    color: saddlebrown;
}
.card{
    color: black;
    border-radius: 1rem;
    border: 1px solid transparent;
    backdrop-filter: blur(1rem);
    box-shadow: 1.3rem 1.3rem 1.3rem rgba(0, 0, 0, 0.5);
    border-top-color: rgba(225, 225, 225, 0.5);
    border-left-color: rgba(225, 225, 225, 0.5);
    border-bottom-color: rgba(225, 225, 225, 0.1);
    border-right-color: rgba(225, 225, 225, 0.1);

    background: linear-gradient(to right bottom, rgba(225,225,225, 0.5), rgba(225,225,225, 0.3));
}

.card-header{
    background: none;
    font-size: 25px;
    /*color: black;*/

}

.list-group-item{
    background: none;
    color: black;
    font-size: 20px;

}

#container{
    text-align: left;
}

#submit{
    border: none;
    background: none;
}

#roast-selection{
    width: 100%;
    text-align: center;
    height: 35px;
}

#searchbar{
    width: 100%;
    text-align: center;
    height: 35px;
}

