*{
    box-sizing: border-box;
    margin: 0;
}
body{
    /* background-image:url(./images/background-1.jpg); */
    /* background-size: cover; */
}
table {
    border-collapse: collapse;
    margin: 15px 0;
}

td, th {
    border: 1px solid black;
    padding: 5px 10px;
}

