.navbar {
    background-color: #99532D;
    font-family: 'Dancing Script', cursive;
}

#main-header {
    margin: 2em 0;
}

table {
    border-collapse: collapse;
    margin: 15px 0;
}

td, th {
    border: 1px solid black;
    padding: 5px 10px;
}
h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #552214;
    font-family: 'Dancing Script', cursive;
}

.form-select {
    border-color: brown;
}

.form-control{
    border-color: brown;
}
#submit{
    background-color: #99532D;
    color: #F4E2CA;

    border-color: brown;
}

#coffee-submit{
    background-color: #99532D;
    color: #F4E2CA;
    border-color: brown;
}

#clear{
    background-color: #99532D;
    color: #F4E2CA;
    border-color: brown;
}

body{
    background-color: #F4E8DA;

}

#test-menu {
    /*width: 500px;*/
    /*height: 500px;*/
    background-image: url("assets/plain-chalkboard-bg.jpeg");
    background-size: cover;
    border: 15px solid #99532d;
    min-height: 700px;
}

#coffees {
    color: white;
    column-count: 2;
    font-family: 'Great Vibes', cursive;
    opacity: .8;
    text-align: center;

}
.form-label {
    font-family: 'Dancing Script', cursive;
}

#test-menu img {
    margin: 20px 0;
}