body {
    font-family: Montserrat;
    text-align: center;
}

h1 {
    font-family: Montserrat;
    font-weight: normal;
    font-size: 3rem;
    line-height: 1.5;
}
table {
    border-collapse: collapse;
    margin: 15px 0;
}

td, th {
    border: 1px solid black;
    padding: 5px 10px;
}



/*Navigation Bar*/


.navbar-brand {
    font-family: "ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.5rem;
}

#features{
    padding: 7% 10%;

}
.top{
    background-image: url("/images/pexels-pixabay-531754.jpg");
    background-size: 100%;


}
/*sections
.colored-section{

}
.white-section{

}

/*title Section*/
#title {
    background-color: #6B4F4F;
    color: white;

}

.title-intro {
    font-weight: bold;
    text-align: left;
}

/*Download Buttons*/
.download-button {
    margin: 8% 3% 8% 0;
}

/* Title Image*/
.title-img {
    width: 22%;
    transform: rotate(20deg);
    position: absolute;
    left: 700px;
    top: 150px;
}

@media (max-width:1089px) {
    .title-intro {
        text-align: center;
    }

    .title-img {
        position: static;
        transform: rotate(0);
        width: 60%;
    }
}

/*Features Section*/
#features {
    background-color: white;
    position: relative;
}

.icon {
    font-size: 4rem;
    color: #D79771;
    margin-bottom: .7rem;
}

.icon:hover {
    color: #AA2B1D;
}

h2, h3 {
    font-family: Montserrat;
    font-weight: bold;
    font-size: 2rem;
    line-height: 1.5;
}

p {
    font-size: 1.3rem;
    color: #8f8f8f;
}

/*Gallery Section*/
#gallery {
    height: 600px;
    background-color: #CDC7BE;
    color: white;
}
/*Sizing Section*/
#sizing {
    padding-top: 20px;
}

.size-column {
    padding: 3% 2%;
}
.size-button{
    background-color: #9A9483;
    color: #FFFFFF;
}
.size-button:hover{
    background-color: #AA2B1D;
    color: #FFFFFF;
}
.cup-small{
    width: 100px;
}
.cup-regular{
    width: 130px;
}
.cup-big{
    width: 150px;
}

/*Menu Section*/
#menu{
    background-color: #F4F4F4 ;
}

.roast{
    color: black;
    font-weight: bolder;
}
#coffees{
    font-size: 2em ;
}
.coffee-name{
    font-size: 1em;
    margin: 25px 25px 5px;

}
.text-center{
    font-size: 0.5em;

}
#roast-selection {
    background-color: #ffff;
    position: relative;
    padding: 8px 16px;
    border: 1px solid gray;
    cursor: pointer;
    user-select: none;
    margin: 25px 0;
}
.search {
    background-color: #ffff;
    position: relative;
    padding: 8px 16px;
    border: 1px solid gray;
    cursor: pointer;
    user-select: none;
}
.coffee-button{
    background-color: #9A9483;
    color: #FFFFFF;
}
.coffee-button:hover{
    background-color: #AA2B1D;
    color: #FFFFFF;
}

#add-coffee-roast-select{
    background-color: #ffff;
    position: relative;
    padding: 8px 16px;
    border: 1px solid gray;
    cursor: pointer;
    user-select: none;
    margin: 25px 0;
}

#add-coffee-name{
    background-color: #ffff;
    position: relative;
    padding: 8px 16px;
    border: 1px solid gray;
    cursor: pointer;
    user-select: none;
}


/* Testimonials & Press Section*/
.test-img{
    border-radius: 50%;
    width:105px;
    height: 105px;
}
/*cta & contact section*/
#cta {
    background-color: #9A9483;
    color: white;

}

.cta-footer {
    font-size: 2rem;
    line-height: 1.5;
}
.app{
    color:#FFFFFF;
}
.sign-up {
    font-family: Montserrat;
    font-size: 2.5rem;
    font-weight: bolder;
    padding-bottom: 30px;
}

.btn-footer {
    padding-top: 10px;
}

/*footer section*/
#footer {
    background-color: white;
}

.cp {
    font-size: 1rem;
    font-family: Montserrat;
}

.social-icon {
    margin: 20px 10px;
}
/*contact form*/

.contact1{
    width: 100%;
    min-height: 100%;
    padding: 15px;

}

.container-contact1 {
    width: 1163px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
}
.container-contact1-form-btn {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.container-contact1 {
    width: 1163px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;

    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    padding: 90px 130px 88px 148px;
}
.contact1-form-title {
    display: block;
    font-size: 24px;
    color: #333333;
    line-height: 1.2;
    text-align: center;
    padding-bottom: 44px;
}

input.input1 {
    height: 50px;
    border-radius: 25px;
    padding: 0 30px;
}
input.input1 + .shadow-input1 {
    border-radius: 25px;
}

textarea.input1 {
    min-height: 150px;
    border-radius: 25px;
    padding: 12px 30px;
}
textarea.input1 + .shadow-input1 {
    border-radius: 25px;
}
.contact1-form-btn {
    min-width: 193px;
    height: 50px;
    border-radius: 25px;
    background: #9A9483;
    font-size: 15px;
    line-height: 1.5;
    color: #fff;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 25px;

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}
.wrap-input1 {
    position: relative;
    width: 100%;
    z-index: 1;
    margin-bottom: 20px;
}

.input1 {
    display: block;
    width: 100%;
    background: #e6e6e6;
    font-size: 15px;
    line-height: 1.5;
    color: #666666;
}

.shadow-input1 {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 0px 0px;

}

.input1:focus + .shadow-input1 {
    -webkit-animation: anim-shadow 0.5s ease-in-out forwards;
    animation: anim-shadow 0.5s ease-in-out forwards;
}
.contact1-form-btn i {
    margin-left: 7px;

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.contact1-form-btn:hover {
    background: #AA2B1D;
}
