/*table {*/
/*    border-collapse: collapse;*/
/*    margin: 15px 0;*/
/*}*/

/*td, th {*/
/*    border: 1px solid black;*/
/*    padding: 5px 10px;*/
/*}*/

/*START BORDERS TO HELP VISUALIZE*/
.main-container, .table-container, .pick-add-container {
    /*border: 1px solid blue;*/
}
/*END BORDERS TO HELP VISUALIZE*/

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url("/img/bg-img(dark).png");
    background-size: cover;
    padding: 25px;
    font-family: 'Heebo';
    font-weight: 100;
    color: white;
}

.main-container {
    border: 1px solid blue;
    display: flex;
    flex-wrap: wrap;
    max-width: 900px;
    margin: 25px auto;
    justify-content: space-between;
    background-color: rgba(38, 35, 35, 0.8);
    border-radius: 25px;
    box-shadow: rgba(255, 165, 0, 0.18) 0px 5px 5px;
    padding: 10px;
}

span {
    color: orange;
}

h1 {
    flex-basis: 100%;
    text-align: center;
    margin-bottom: 10px;
    text-shadow: orange;
}

.main-heading {
    /*padding: 0 20px;*/
    margin: 20px 0;
    font-family: 'Secular One', serif;
}

.table-container {
    display: flex;
    width: 50%;
}

.pick-add-container {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.inner-container {
}


.table-heading, .inner-cell {
    /*border: 1px solid black;*/
    width: 75px;
    padding: 5px 5px;
}

.dev-header, .dev-inner {
    display: none;
}

.table-heading {
    font-weight: bold;
}

.pick-add-container {
    padding: 10px;
}

.sub-heading {
    font-size: 12px;
}

.coffee-select-container {
    margin-bottom: 20px;
}

.label-input {
    display: flex;
    margin-bottom: 10px;
    font-size: 13px;
}

.label-input>input {
    width: 50%;
}

.label-input>label {
    width: 40%;
    margin-right: 5%;
    font-weight: 300;
}

.button-t1 {
    display: flex;
    justify-content: center;
}

.button-t1>button {
    width: 100%; /* adjust button width 5% to 100%*/
    border-radius: 15px;
    border: 1px solid white;
    padding: 4px 0;
    background-color: #efa931;
    transition: 1s;
}

.button-t1>button:hover {
    background-color: transparent;
    color: white;
}


.social-icons {
    /*border: 1px solid red;*/
    width: 100%;
    text-align: center;
    font-size: 20px;
}

i {
    margin-left: 5px;
    color: orange;
}

/*START FILTERABLE LIST*/

.col {
    border: 2px solid red;
    /*margin: 15px;*/
}

.row{
    /*border: 2px solid blue;*/
}

.coffee{
    /*border: 2px solid blue;*/
}

/*END FILTERABLE LIST*/



