

/* The navigation menu */
.navbar {
    overflow: hidden;
    background-color: #333;
}

/* Navigation links */
.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* The subnavigation menu */
.subnav {
    float: left;
    overflow: hidden;
}

/* Subnav button */
.subnav .subnavbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

/* Add a red background color to navigation links on hover */
.navbar a:hover, .subnav:hover .subnavbtn {
    background-color:#c7a17a;
}

/* Style the subnav content - positioned absolute */
.subnav-content {
    display: none;
    position: absolute;
    left: 0;
    background-color:#c7a17a;
    width: 100%;
    z-index: 1;
}

/* Style the subnav links */
.subnav-content a {
    float: left;
    color: white;
    text-decoration: none;
}

/* Add a grey background color on hover */
.subnav-content a:hover {
    background-color: #eee;
    color: black;
}

/* When you move the mouse over the subnav container, open the subnav content */
.subnav:hover .subnav-content {
    display: block;
}








table {
    border-collapse: collapse;
    margin: 15px 0;
}

td, th {
    border: 1px solid black;
    padding: 5px 10px;
}
