body{
    font-family: sans-serif;
}

h1, h2, h3, h4, h5{
    font-family: sans-serif;
}

.row{
    max-width: unset;
}

hr{
    margin: 0 60px;
    border-style: solid;
    border-color: #EEEEEE;
}

section{
    display: flex;
}

.column-coffee{
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
}

h1, p{
    display: flex;
}

.column-form{
    display: flex;
}

form{
    max-width: 300px;
}