.header {
    text-align: center;
    font-weight: 500;
}

h2 {
    text-align: center;
    font-size: 2.5em;
}

body {
    padding: 50px;
}

hr {
    padding: 0.50em;
}

hr.space {
    margin-top: 30px;
}


label {
    font-weight: bold;
}

.btn {
    width: inherit;
    margin-top: 8px;
}

table {
    border-collapse: collapse;
    margin: 15px 0;
}

td, th {
    border: 1px solid black;
    padding: 5px 10px;
}
