.body {
    background-color: #ead5c0;
}

table {
    border-collapse: collapse;
    margin: 15px 0;
}

td, th {
    border: 1px solid black;
    padding: 5px 10px;
}

/*navbar code begins*/

.navbar-main {
    display: flex;
    background-color: #cfac74;

}

.navbar-brand {
    margin-left: 1em;
}

.icons {
    background-color: DodgerBlue; /* Blue background */
    border: none; /* Remove borders */
    color: white; /* White text */
    padding: 12px 16px; /* Some padding */
    font-size: 16px; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
}

.fa-instagram, .fa-twitter-square {
    font-size: 20px;
}
/* Darker background on mouse-over */
.btn:hover {
    background-color: RoyalBlue;
}

/*jumbotron code begins*/
.jumbotron {
    background-image: url(../img/coffee.jpeg);
    background-size: cover;
    background-position: center;
}

.display-4{
    color: #f2e5d8;
}

.lead{
    color: white;
}

/*search buttons begins*/
.searchbars {
    display: flex;
    justify-content: space-between;

    }

#roast-selection {
    background-color: #483018;
    height: 3em;
    border-radius: 10px;
    border: solid #483018;
    color: #f2e5d8;

}
#submit {
    background-color: #483018;
    border-radius: 10px;
    border: solid #483018;
    color: #f2e5d8;

}

/*.btn-group {*/
/*    background-color: #483018 ;*/

/*    }*/


/*card section*/



#myInput {
    float: right;
    margin: 5px;
    background-color: #cfac74;
}
