table {
    border-collapse: collapse;
    margin: 15px 0;
}

td, th {
    border: 1px solid black;
    padding: 5px 10px;
}

.name {
    float: left;
    margin-right: 10px;
    /*font-size: 2em;*/

}
.roast {
}

.Title {
    text-align: center;
}

body {
    margin:0 auto;
    max-width: 50em;


}