body {
    /*background-image: url("img/coffee-beans.jpg");*/
    background-color: #654321;
}

.coffee-info {
    display: flex;
    flex-direction: column;

}

h1 {
    text-align: center;
    /*color: #654321;*/
    color: bisque;
}

form {
    text-align: center;
}

button {
    justify-content: center;
}

.divTableHeading {
    display: flex;
    align-content: center;
    text-align: center;
    margin-bottom: 1.5em;
}

.divTableRow {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*margin: 20px;*/
    /*background-color: bisque;*/
    /*border-left: 40px  solid rgba(100,100,100,0.0);*/
    width: 50%
}

.divTableBody {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

.divTableHead{
    display: none;
}

.coffee-select{
    /*border: 2px solid #654321;*/
    width: 50%;
    border: 2px solid bisque;
    border-radius: 40px;
    padding: 1em;
    margin: 1em;
    color: black;
    font-weight: bold;
    background-color: bisque;
    display: flex;
    flex-direction: column;

}

.name-info{
    /*color: #654321;*/
    color: white;
    margin: 3px;
}

.info{
    /*color: #654321;*/
    color: bisque;
    display:flex;
    flex-wrap:nowrap;
    /*flex-direction: row;*/
    align-self: center;
}

.choose-coffee{
    display: flex;
    justify-content: center;
}

.coffee-add{
    display:flex;
    justify-content: center;
}

#roast-creation{
    margin:.5em;
}

#roast-selection{
    margin:.5em;
}

img{
    display:none;
}

h3{
    color: bisque;
}
p{
    color: bisque;
}


@media screen and (min-width: 768px){
    .divTable{
        display:flex;
        flex-wrap: wrap;
    }

    .divTableRow{
        width: 25%;
        margin: 0em;
    }

    .divTableHeading{
        display: none;
    }

    .fas{

    }

    .coffee-pic{
        display:flex;
        justify-content: center;
        /*mix-blend-mode: multiply;*/
        width:20%;
        height:20%;
    }

    img{
        display: inline;
    }
}






