table {
    border-collapse: collapse;
    margin: 15px 0;
}

td, th {
    border: 1px solid black;
    padding: 5px 10px;
}

<<<<<<< HEAD
.card-body{
    width: auto;
=======
#card_container{
    border: 1px solid black;
}

#side_nav{
    border: 1px solid black;
>>>>>>> abf9cfe50946f25e1ddfc0eb71d711cb900af366
}
