*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

/*ol, ul {*/
/*    list-style: none;*/
/*}*/
table {
    border-collapse: collapse;
    border-spacing: 0;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6{
    overflow-wrap: break-word;
}

/*#root, #__next {*/
/*    isolation: isolate;*/
/*}*/

:link, :visited {
    text-decoration: none;
}

a, a:visited {
    background-color: transparent;
    text-decoration: none;
    color: unset;
}

textarea {
    white-space: revert;
}

::placeholder {
    color: inherit;
    font: inherit;
}

button {
    cursor: pointer;
    border: unset;
}

input {
    outline: unset;
}